body{
    background-color: #f2f2f2;
}
.app-title{
    text-align: center;
    color: black;
    font-size: 60px; 
}
.App-body{
display: flex;
justify-content: space-around;
}

.show-contact{
    width: 400px;
}

.sub-heading{
    text-align: center;
    font-size: 30px;
}

.user-input{
    display: block;
    font-size: 25px;
    padding: 5px;
    margin: 30px;
    width: 500px;
    text-align: center;
    border-radius: 5px;
    background-color: #999999;
    border: none;
    color: white;
}
.btn-add-contact{
    display: block;
    background-color: black;
    color: white;
    margin: 30px auto;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}
