.contact-card{
    width:380px;
    margin: 5px;
    margin-top: 15px;
    padding: 3px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 5px black;
}
.m-2{
    margin: 5px;
}